<header class="header">
    <div class="container">
        <div class="header-inner">
            <div class="burger-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
</header>

<section class="section">
    <div class="container">
        <div class="section-inner">
            <div class="left-block">
                <h1 class="title">Phones</h1>
                <a href="/choosePhone"  class="choose-btn">Choose your phone</a>
            </div>
            <div class="right-block">
                <img class="phone" src="/images/image 1.png" alt="">
            </div>
        </div>
    </div>
</section>