<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="phone-titles">
        <div class="container">
            <div class="phones">
                <h2 class="phone-title" id="btn">{{title1}}</h2>
                <h2 class="phone-title" id="btn">{{title2}}</h2>
                <h2 class="phone-title" id="btn">{{title3}}</h2>
                <h2 class="phone-title" id="btn">{{title4}}</h2>
            </div>
        </div>
    </div>

    <div class="phone-description">
        <div class="characteristic">
            <div class="block">
                <h2 class="color-title">Color:</h2>
                <div class="color-square elem1" id="checkActive"></div>
                <div class="color-square elem2" id="checkActive"></div>
                <div class="color-square elem3" id="checkActive"></div>
                <div class="color-square elem4" id="checkActive"></div>
                <div class="color-square elem5" id="checkActive"></div>
                <div class="color-square elem6" id="checkActive"></div>
                <div class="color-square elem7" id="checkActive"></div>
                <div class="color-square elem8" id="checkActive"></div>
                <div class="color-square elem9" id="checkActive"></div>
            </div>
            <div class="RAM">
                <h2>RAM:</h2>
                <p><input type="text"> ГБ</p>
            </div>
            <div class="size">
                <h2>Size:</h2>
                <input type="text">
            </div>
            <div class="screen">
                <h2>Screen resolution:</h2>
                <input type="text">
                <p>X</p>
                <input type="text">
            </div>
            <div class="CPU">
                <h2>CPU:</h2>
                <input type="text">
            </div>
            <div class="charger">
                <h2>Charger:</h2>
                <input type="text">
            </div>
            <div class="support5g">
                <h2>SUPPORT 5G:</h2>
                <button id="btns">YES</button>
                <button id="btns">NOT</button>
            </div>
            <div class="price">
                <h2>PRICE:</h2>
                <input type="text">
            </div>
        </div>
        <div class="phone-photo">
            <img src="/images/image 1.png" alt="">
        </div>
    </div>

    <div class="find-btn">
        <a href="/findPage">FIND...</a>
    </div>

    <script src="/javascripts/script.js"></script>
</body>

</html>